<!DOCTYPE html>
<html lang = "en" ng-app="shiny">
<head>
    <meta charset = "UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href = "3.contact/bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body  ng-controller="shinyCtr">
<div class="row">
    <div class="alert alert-success" ng-show="mag">{{mag}}</div>
</div>
<div class="container">
    <a class="btn btn-default" ng-click="addConrtactForm=!addConrtactForm">
        {{addConrtactForm==true?"隐藏":"添加"}}</a>
</div>
<div class="row">
<div class="container">
    <form ng-submit="subContact()" ng-show="addConrtactForm">
        <div class="form-group">
            <label for = "name">姓名</label>
            <input type = "text" id="name" class="form-control" ng-model="contact.name">
        </div>
        <div class="form-group">
            <label for = "email">邮箱</label>
            <input type = "text" id="email" class="form-control" ng-model="contact.email">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="保存"/>
        </div>
    </form>
    <div class="panel-body"><h5>一共有{{contacts.length}}</h5></div>
    <div class="col-xs-8">

        <table class=" table table-responsive">
            <thead>
            <th>姓名</th>
            <th>邮箱</th>
            <th>操作</th>
            </thead>
            <tbody>
            <tr ng-click="show(contact)" ng-repeat="contact in  contacts">
                <td>{{contact.name}}</td>
                <td>{{contact.email}}</td>
                <td>
                    <a class="btn btn-warning" ng-click="" >编辑</a>
                    <a  class="btn btn-danger" ng-click="contacts.$remove(contact)">删除</a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>姓名</h4>
                <span ng-bind="contact.name"></span>
                <h4>邮箱</h4>
                <span ng-bind="contact.email"></span>
            </div>

        </div>
    </div>
</div>
</div>
</body>
</html>
<script src="3.contact/bower_components/jquery/dist/jquery.js"></script>
<script src="3.contact/bower_components/angular/angular.js"></script>
<script src="3.contact/bower_components/firebase/firebase.js"></script>
<script src="3.contact/bower_components/angularfire/dist/angularfire.min.js"></script>
<script src="3.contact/app.js"></script>