<!DOCTYPE html>
<html lang="en" ng-app="shiny">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href = "3.contact/bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller="shinyCtr">
<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-success">{{mag}}</div>
    </div>
</div>
<div class="container">
    <a class="btn btn-default" ng-click="addConrtactForm=!addConrtactForm">
        {{addConrtactForm==true?"隐藏":"添加"}}</a>
</div>
<div class="container">
    <form  ng-submit="addContact()" ng-show="addConrtactForm">
        <div class="form-group">
            <lable for="username">姓名</lable>
            <input   class="form-control" type = "text" id="username" ng-model="contact.name" name="username">
        </div>
        <div class="form-group">
            <lable for="email">邮箱</lable>
            <input type = "text"   class="form-control" id="email" ng-model="contact.email" name="username">
        </div>
        <div class="form-group">

            <input type = "submit" class="btn-default" value="保存" name="username">
        </div>
        <h3>添加联系人</h3>
        <div class="col-xs-12">

        </div>
    </form>

    <div class="col-xs-8">
        <table class="table table-responsive" >
            <h3>你的联系人{{contact.length}}</h3>
            <thead>
            <tr>
                <th>姓名</th>
                <th>邮箱</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-click="select(contact)" ng-repeat="contact in  contacts">
                <td>{{contact.name}}</td>
                <td>{{contact.email}}</td>
                <td>
                    <a class="btn btn-warning" ng-click="edit(contact)" >编辑</a>
                    <a class="btn btn-danger" ng-click="contacts.$remove(contact)">删除</a>
                </td>


            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-xs-4"> <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>姓名 <span ng-bind="contact.name"></span></h3>
                <h3>邮箱 <span ng-bind="contact.email"></span></h3>
            </div>
        </div>
    </div></div>

</div>
</body>
<script src="3.contact/bower_components/jquery/dist/jquery.js"></script>
<script src="3.contact/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="3.contact/bower_components/angular/angular.js"></script>
<script src="3.contact/bower_components/angular-route/angular-route.js"></script>
<script src="3.contact/bower_components/firebase/firebase.js"></script>
<script src="3.contact/bower_components/angularfire/dist/angularfire.js"></script>
<script src="3.contact/app.js"></script>
</html>